
body {
  font-family: 'Rubik', sans-serif;
  background-image: url("https://thumbs.dreamstime.com/b/grungy-book-background-7862122.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
  color: chocolate;
}
/* #root */
#root {
margin: 30px;  
height: 500vh;
background-color: white;
}

/* NavBar  */

.Header-Container{
  padding: 10px;
}
.navbar {
  padding: 0;
  background-color: #61361c;
}
.navbar-light .navbar-brand {

  color: #61361c;
  font-size: 34px;
  font-family: 'BioRhyme', serif;
  background-color: #CECD94;
  border-radius: 0px 30px 30px 0px;
  padding: 19px;
  margin-left: -10px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
  color: #61361c;
}
.navbar-light .navbar-nav .nav-link{

  color: white;
  font-size: 20px;
  font-family: 'Inknut Antiqua', serif;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{

  color:#CECD94 ;
}
.navbar-light .navbar-toggler{

  background-color:#CECD94 ;
}
.nav-link{
  color: #61361c;
}
.nav-link:focus, .nav-link:hover{
  color: chocolate;
  cursor:pointer

}

/* Modal */

.modal-backdrop {
  background-color:unset;
  ;
}
.modal-content {
  
  background-color:linen ;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{

  background-color: green;
}

.nav-pills .nav-link{

  border-radius: 4.25rem;
}

.modal-body{

  color: #61361c;
  font-size: 16px;
}
.modal-body form div{
  padding: 10px;
}
.form-control{
  border-radius: 4.25rem;
}

.modalButt{
  width: 100%;
}


/* Card */

.card {

  background-color: antiquewhite;


}
.card-img, .card-img-bottom, .card-img-top{
  height: 30vh;
  margin: 20px;
}
.card-title{
  color: #61361c;
  font-size: 16px;
  text-decoration: underline;
}

/* Team */

.team{
  margin-top: 80px;
}

.team .card-title {
  font-size: 25px;
  font-weight: bolder;
}

.team .card-footer a {

  color: chocolate;
    text-decoration: unset;
    font-size: 15px;
}
